<footer class="site-footer">
   <div class="footer">
      <div class="copyright-container">
         <p class="copyright smallest">© 2016 <a class="smaller" href="#">PricelessEurope.com</a> and <a class="smaller" href="#">Amazing Island and Tours</a>. All Rights Reserved</p>
      </div>   
   </div>
</footer>


<script src="{{site.baseurl}}/assets/js/jquery-1.9.1.min.js"></script>
<script src="{{site.baseurl}}/assets/js/jquery-ui-1.10.4.custom.js"></script>
<script src="{{site.baseurl}}/assets/js/function.js"></script>
   
</body>   
</html>