<section class="slider-breadcrumb">

   <div class="slide-support">
            
      <div class="slide-support-flex active-slide">
         
         <div  class="slide-bg active-bg" style="background-image: url('{{site.baseurl}}/assets/img/slider/img1.jpg">
         </div>
         
         <div class="slide-flexrow">
            <div class="slide-flexitem slide-text">
               <header class="slide-header">
                  <p class="slide-title">Vatican Museums:</p><p class="slide-loc">italy</p>
               </header>
               <div class="slide-info">
                  <p class="slide-type">type: Cultural</p> 
                  <p class="slide-year">year: 12 July, 1561</p>
                  <p class="slide-place">location: Viale Vaticano, 00165 Roma, Italy</p>
               </div>
            </div>
            <div class="slide-flexitem slide-img">
               <img src="{{site.baseurl}}/assets/img/slider/img1.jpg">
            </div>
         </div>  

      </div>


      <div class="slide-support-flex">

         <div  class="slide-bg" style="background-image: url('{{site.baseurl}}/assets/img/slider/img2.jpg">
         </div>
         
         <div class="slide-flexrow">
            <div class="slide-flexitem slide-text">
               <header class="slide-header">
                  <p class="slide-title">Eiffel Tower:</p><p class="slide-loc">paris</p>
               </header>
               <div class="slide-info">
                  <p class="slide-type">type: Observation tower, Broadcasting tower</p> 
                  <p class="slide-year">year: 28 January, 1887</p>
                  <p class="slide-place">location: 7th arrondissement, Paris, France</p>
               </div>
            </div>
            <div class="slide-flexitem slide-img">
               <img src="{{site.baseurl}}/assets/img/slider/img2.jpg">
            </div>
         </div>  
         
      </div>


      <div class="slide-support-flex">

         <div  class="slide-bg" style="background-image: url('{{site.baseurl}}/assets/img/slider/img3.jpg">
         </div>
         
         <div class="slide-flexrow">
            <div class="slide-flexitem slide-text">
               <header class="slide-header">
                  <p class="slide-title">Sagrada Família:</p><p class="slide-loc">Barcelona</p>
               </header>
               <div class="slide-info">
                  <p class="slide-type">affiliation:	Roman Catholic</p> 
                  <p class="slide-year">year: 7 November, 2010</p>
                  <p class="slide-place">location: Barcelona, Catalonia, Spain</p>
               </div>
            </div>
            <div class="slide-flexitem slide-img">
               <img src="{{site.baseurl}}/assets/img/slider/img3.jpg">
            </div>
         </div>  
         
      </div>


      <div class="slide-support-flex">

         <div  class="slide-bg" style="background-image: url('{{site.baseurl}}/assets/img/slider/img4.jpg">
         </div>
         
         <div class="slide-flexrow">
            <div class="slide-flexitem slide-text">
               <header class="slide-header">
                  <p class="slide-title">Grand Canal:</p><p class="slide-loc">Italy</p>
               </header>
               <div class="slide-info">
                  <p class="slide-type">type: Cultural</p> 
                  <p class="slide-year">year: 12 July, 1561</p>
                  <p class="slide-place">location: 30100 Venice, Italy</p>
               </div>
            </div>
            <div class="slide-flexitem slide-img">
               <img src="{{site.baseurl}}/assets/img/slider/img4.jpg">
            </div>
         </div>  
         
      </div>


      <div class="slide-support-flex">

         <div  class="slide-bg" style="background-image: url('{{site.baseurl}}/assets/img/slider/img5.jpg">
         </div>
         
         <div class="slide-flexrow">
            <div class="slide-flexitem slide-text">
               <header class="slide-header">
                  <p class="slide-title">Saint Vasily:</p><p class="slide-loc">moscow</p>
               </header>
               <div class="slide-info">
                  <p class="slide-type">type: Cultural</p> 
                  <p class="slide-year">year: 12 July, 1561</p>
                  <p class="slide-place">location: Red Square, Moscow, Russia</p>
               </div>
            </div>
            <div class="slide-flexitem slide-img">
               <img src="{{site.baseurl}}/assets/img/slider/img5.jpg">
            </div>
         </div>  
      
      </div>
      
   </div>

   <div class="slide-thumbnail">

      <a class="nav-prev" href=""></a>

      <div class="slide-thumb-container">
         <a class="thumb-item uno active-thumb" href="">
            <img src="{{site.baseurl}}/assets/img/slider/img1.jpg">
         </a>
         <a class="thumb-item dos" href="">
            <img src="{{site.baseurl}}/assets/img/slider/img2.jpg">
         </a>
         <a class="thumb-item tres" href="">
            <img src="{{site.baseurl}}/assets/img/slider/img3.jpg">
         </a>
         <a class="thumb-item kwatro" href="">
            <img src="{{site.baseurl}}/assets/img/slider/img4.jpg">
         </a>
         <a class="thumb-item singko" href="">
            <img src="{{site.baseurl}}/assets/img/slider/img5.jpg">
         </a>
      </div>

      <a class="nav-next" href=""></a>

   </div>
   
   <section class="breadcrumb">
      <div class="container breadcrumb-support">
         <div class="breadcrumb-text">
            <p class="breadcrumb-promo-blurb">free travel insurance</p>
            <h4 class="breadcrumb-promo-price">from $ 3,755 /pax</h4>
         </div>
         <div class="breadcrumb-purchase">
            <a href="/" class="purchase"><h4>book now</h4></a>
         </div>
      </div>
   </section>
   
</section>